@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&family=Open+Sans&display=swap');

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

footer {
  background-color: #f2f2f2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h1 {
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-size: 50px;
}

img.headerimage {
  max-width: 70%;
  max-height: 170px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.logobox {
  background-color: #72BEBC;
  top: 0;
  left: 0;
  padding: 0 8%;
}

.menu_bar{
  background-color: #f8f8f8;
  align-items: center;
}

nav.menu_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 5px 8%;
}

div.menu_items {
  font-family: 'Open Sans';
  padding-right: 3%;
  letter-spacing: 2px;
}

a.menu {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  text-transform:uppercase;
}

.welcome {
  width: 38%;
  background: #f8f8f8;
  height: 250px;
  padding: 5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

.body {
  margin-top: 250px;
  margin-bottom: 100px;
  padding: 0% 8%;
}

p {
  color: #544840;
  font-size: 12px;
  line-height: 16px;
}

.centered {
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.tile {
  background-color: #72BEBC;
  padding: 15px;
  width: 20%;
}

.tile_name {
  text-align: center;
}

.tile_sum {
  color: white;
  text-align: center;
  padding-top: 4px;
  font-size: 30px;
}

.top_notice_red {
  color: red;
}

.top_notice_green {
  color: green;
}

th {
  padding-right: 30px;
}

input.deletebutton {
  color: white;
  font-weight: bold;
  background-color: red;
  border-style: solid;
  border-width: thin;
  border-color: red;
  border-radius: 5px;
  text-align: center;

}
