
<h2>Welcome, <%= @user.name %></h2>

<a class="home_button" href="/categories">See Category Summary</a>
<br>
<a class="home_button" href="/categories/new">Add New Expense Category</a>
<br>
<a class="home_button" href="/expenses/new">Add New Expense</a>
