<h2>Summary</h2>

<div class="container">
<% @categories.each do |c| %>
  <div class="tile">
    <div class="tile_name"><%= c.name %></div>
    <div class="tile_sum"><%= c.expense_sum %></div>
  </div>
<% end %>
</div>
