<h3>Total Spend:
    <%= ActiveSupport::NumberHelper.number_to_currency(current_user.expenses.sum(:amount), :unit => "$") %>
  </h3>


<div class="container">
<% @categories.each do |c| %>
  <div class="tile">
    <div class="tile_name"><a href="/categories/<%=c.id%>"><%= c.name %></a></div>
    <div class="tile_sum"><%= c.expense_sum %></div>
  </div>
<% end %>
</div>
