<h2>Add a Category</h2>

<form action="/categories" method ="POST">

      <p>
        <label for="name">Category Name</label><br>
        <input type="text" id="name" name="name" />
      </p>


      <input type="submit" value="Add Category" />

  </form>
