<h2>Expenses</h2>

<table>
  <tr>
    <th></th>
    <th>Edit</th>
    <th>Amount</th>
    <th>Vendor</th>
  </tr>

  <% @expenses.each do |e| %>
    <tr>
      <td>
        <form action="/expenses/<%= e.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input class="deletebutton" type="submit" value="X">
        </form>
      </td>
      <td>Edit</td>
      <td><%= e.amount %></td>
      <td><%= e.vendor %></td>
    </tr>
  <% end %>

</table>
