<h2>Expenses</h2>

<a class="home_button" href="/expenses/new">Add New Expense</a>
<br>
<br>

<table>
  <tr>
    <th></th>
    <th>Edit</th>
    <th>Amount</th>
    <th>Vendor</th>
  </tr>

  <% @expenses.each do |e| %>
    <tr>
      <td>
        <form action="/expenses/<%= e.id %>/e" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input class="deletebutton" type="submit" value="X">
        </form>
      </td>
      <td><a class="editbutton" href='/expenses/<%= e.id %>/edit'>Edit</a></td>
      <td><%= dollar_display(e.amount) %></td>
      <td><%= e.vendor %></td>
    </tr>
  <% end %>

</table>
