<h2>Add New Expense </h2>

<form action="/expenses" method ="POST">

      <input type="hidden" id="date" name="date" value="<%= Date.today %>"/>

      <p>
        <label for="amount">Amount</label><br>
        <input type="text" id="amount" name="amount" />
      </p>

      <p>
        <label for="vendor">Vendor</label><br>
        <input type="text" id="vendor" name="vendor" />
      </p>

      <p>
        <label for="description">Description</label><br>
        <textarea id="description" name="description"></textarea>
      </p>

      <p>Expense Category</p>

        <% @categories.each do |c| %>
          <input type="radio" class="radio" name="category_id" value="<%= c.id %>">
          <label><%= c.name %></label><br>
        <% end %>

        <br>

      <input type="submit" class="submit" value="Add Expense" />

    </form>
