<h2>Add New Expense </h2>

<form action="/expenses" method ="POST">

      <input type="hidden" id="date" name="date" value="<%= Date.today %>"/>

      <p>
        <label for="amount">Amount</label><br>
        <input type="text" id="amount" name="amount" placeholder="0.00"/>
      </p>

      <p>
        <label for="vendor">Vendor</label><br>
        <input type="text" id="vendor" name="vendor" />
      </p>

      <p>
        <label for="description">Description</label><br>
        <textarea id="description" name="description"></textarea>
      </p>

      <h3>Expense Category</h3>
      <h4>Select from existing categories:</h4>
        <% @categories.each do |c| %>
          <input type="radio" class="radio" name="category_id" value="<%= c.id %>">
          <label><%= c.name %></label><br>
        <% end %>

      <h4>Or add a new category:</h4>

        <p>
            <label for="category_name">Name</label><br>
            <input type="text" name="category_name" id="new_category" />
        </p>

        <br>

      <input type="submit" class="submit" value="Add Expense" />

    </form>
