<head>
  <title>Expense Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<header>
  <div class="container logobox">
    <h1 vertical-align="middle">Expense Tracker</h1>
    <img class="headerimage" src="/images/expense.png">
  </div>

  <div class="menu_bar">
    <nav class="menu_bar">
      <div class="menu_items"> <a class="menu" href="/login">Login</a> </div>
      <div class="menu_items"> <a class="menu" href="/register">register</a> </div>
    </nav>
  </div>
</header>

<div class="body">
  <%= yield %>
</div>

<footer>
  <small>&copy; 2021 <strong>ExpenseTracker</strong></small>
</footer>
