<head>
  <title>Expense Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<header>
  <div class="logobox">
    <h1 vertical-align="middle">Expense Tracker</h1>
    <img class="headerimage" src="/images/expense.png">
  </div>

  <div class="menu_bar">
    <nav class="menu_bar">
      <% if logged_in? %>
        <div class="menu_items"> <a class="menu" href="/users/<%= current_user.id %>">Home</a> </div>
        <div class="menu_items"> <a class="menu" href="/expenses">Expenses</a> </div>
        <div class="menu_items"> <a class="menu" href="/categories">Categories</a> </div>
        <div class="menu_items"> <a class="menu" href="/logout">Logout</a> </div>
      <% else %>
        <div class="menu_items"> <a class="menu" href="/">Home</a> </div>
        <div class="menu_items"> <a class="menu" href="/register">register</a> </div>
        <div class="menu_items"> <a class="menu" href="/login">Login</a> </div>
      <% end %>
    </nav>
  </div>
</header>

<div class="body">
  <%= "<div class='top_notice_red'> #{flash[:notice_red]}</div>" if flash[:notice_red] %>
  <%= "<div class='top_notice_green'> #{flash[:notice_green]}</div>" if flash[:notice_green] %>

  <%= yield %>
</div>

<footer>
  <small>&copy; 2021 <strong>ExpenseTracker</strong></small>
</footer>
