<div class="container2">

  <div class="welcome">
    <h3>Project #2: Sinatra Web App</h3>
    <p>The Flatiron School <br>Online Software Engineer Self-Paced Program</p>
      <p><b>Student:</b> Roshanak Agahi</p>
      <p><b>Date:</b> June 18, 2021</p>
      <p><a href="https://github.com/rosh-agahi/expense_tracker"><b>GitHub Link</b></a></p>
  </div>

  <div class="welcome">
      <p>This is an app designed to help the user organize and track their expenses.
      A user can create an account and log in. Once login is validated, some standard expense categories are created for them but they can CRUD existing or new categories. Then the user can CRUD expenses under each of the categories. There is also a wholistic view provided to the user on their home page.</p>
      <p>For more information, see the <a href="https://github.com/rosh-agahi/expense_tracker">README</a>.</p>
  </div>

</div>
